{% extends "base.html" %}

{% block content %}
<h1>User Profile 
    <a class="btn btn-warning" href="{% url 'profile-edit' user.id%}">
        edit &#128393
    </a> 
</h1>
<p>Welcome, {{ user.username }}!</p>
<p>Email: {{ user.email }}</p>
{% if user.accounts.exists %}
    Your accounts:
    {% load static %}
    <ul class="list-group profile-acc-list">
    {% for acc in user.accounts.all %}
        <li class="list-group-item list-group-item-action">
            <a href="{% url 'account-detail' acc.id %}">
                <img src="{% static 'pics/credit-card.png' %}" alt="credit card" width="20px" height="20px">
                {{acc.funds}}
            </a>
            <button class="closeAccBtn btn btn-danger" data-url="{% url 'finacc-close' acc.id %}"><span>X</span></button>
           
        </li>
    {% endfor %}
    </ul>
{% endif %}
<a href="{% url 'finacc-open' %}" class="btn btn-success">Open new account</a>
{% endblock %}