body{
    background: gray;
}

.content {
    background: #aaa;
    color: #000;
    padding: 2% 5% 2% 2%;
}

form{display: inline;}

.field-errors{
    color: red;
}
.field-helptext{
    color: green;
}

footer{
    background: black;
    color: white;
}